<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

	<link href='http://fonts.googleapis.com/css?family=Lato:100,400' rel='stylesheet' type='text/css'>
	<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/toaster.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
	<script src="js/angular-dragdrop.min.js" type="text/javascript"></script>
	<script src="js/toaster.js" type="text/javascript"></script>

	<script src="js/app.js" type="text/javascript"></script>
	<script src="js/dragdrop.js" type="text/javascript"></script>

	</head>
	<body ng-app="todo">
		<header class="page-header">
			<h1><img src="css/logo.svg" alt="Logo"> The To-Do App </h1>
		</header>
		<section class="main-section" ng-controller="todoController">
			<div class="row">
				<div class="col-xs-12 col-md-8 cols">
					<div class="row">
						<div class="col-md-2">
							<span class="font24 text-primary">To-do</span>
						</div>
						<div class="col-md-10">
							<div class="input-group">
								<input type="text" name="task" value="" placeholder="Add a task to do" class="form-control {{ inputcolor }}" ng-model="task" my-enter="addTodo(task)">
								<span class="input-group-btn">
									<button class="btn btn-default text-primary" type="button" ng-click="addTodo(task)"><i class="glyphicon glyphicon-plus" data-toggle="tooltip" title="Add this todo"></i></button>
								</span>
							</div>
							<div class="colortabs">
								<ul class="list-group">
									<li class="list-group-item list-group-item-primary" data-toggle="tooltip" title="Blue" ng-click="inputcolor = 'bgblue'"></li>
									<li class="list-group-item list-group-item-success" data-toggle="tooltip" title="Green" ng-click="inputcolor = 'bggreen'"></li>
									<li class="list-group-item list-group-item-info" data-toggle="tooltip" title="Teal" ng-click="inputcolor = 'bgteal'"></li>
									<li class="list-group-item list-group-item-orange" data-toggle="tooltip" title="Orange" ng-click="inputcolor = 'bgorange'"></li>
									<li class="list-group-item list-group-item-danger" data-toggle="tooltip" title="Red" ng-click="inputcolor = 'bgred'"></li>
									<li class="list-group-item list-group-item-gray" data-toggle="tooltip" title="Gray" ng-click="inputcolor = 'bggray'" ></li>
									<li class="list-group-item list-group-item-white" data-toggle="tooltip" title="White" ng-click="inputcolor = 'bgwhite'"></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row" ng-show="todoList.length">
						<div id="TodoList" class="drag-list col-md-6 col-xs-12 btn-droppable" ng-repeat="todo in todoList track by $index" data-drop="true" ng-model='todoList' data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=todoList])'}"  jqyoui-droppable="{index: {{$index}}, onDrop:'notifyTodo'}" ng-hide="!todo.text">
							<div class="panel {{ todo.card }} btn-draggable " data-drag="{{todo.drag}}" data-jqyoui-options="{revert: 'invalid'}" ng-model="todoList" jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true}">
								<div class="panel-body">
									<span class="remove pull-right" ng-click="removeTodo(todoList, todo)" data-toggle="tooltip" title="Delete this todo"><i class="glyphicon glyphicon-remove" ></i></span>
									<span class="remove pull-left" ng-click="editTodo = 'true'" data-toggle="tooltip" title="Edit this todo"><i class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp;</span>
									<span ng-show="!editTodo">{{ todo.text }}</span>
									<input type="text" class="form-control" ng-model="todo.text" ng-show="editTodo" my-enter="updateTodoList();editTodo = !editTodo;">
									<p class="help-block"  ng-show="editTodo">Press Enter to Submit</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row" ng-show="!todoList.length && doneList.length">
						<div class="alert alert-success text-center"><strong><span class="glyphicon glyphicon-ok-sign"></span> Well Done! </strong> All Tasks done. Please add New tasks for the day.</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-4 bg-muted cols">
				<div class="font24 text-success">Done</div> 

                <div class="row drop-list" data-drop="true" id="DoneList" ng-model='doneList' data-jqyoui-options="optionsdoneList" jqyoui-droppable="{multiple:true,onDrop:'notify'}" >
						<div class="col-md-12 col-xs-12 btn-draggable drop-card" ng-repeat="todo in doneList track by $index" ng-show="todo.text" data-drag="{{todo.drag}}" data-jqyoui-options="{revert: 'invalid'}"  ng-model="doneList" jqyoui-draggable="{index: {{$index}},animate:true}" data-add-a-space-between>
							<div class="panel {{ todo.card }} ">
								<div class="panel-body">
									<span class="remove pull-right" ng-click="removeTodo(doneList, todo)" data-toggle="tooltip" title="Delete this todo"><i class="glyphicon glyphicon-remove"></i></span>
									<span>{{ todo.text }}</span>
								</div>
							</div>
						</div>
						<div class="row" ng-show="!doneList.length && todoList.length">
						<div class="alert alert-success text-center"><span class="glyphicon glyphicon-info-sign"></span> Hey, Please drag your tasks here to mark them as <strong>Done </strong></div>
					</div>
					</div>


				</div>
			</div>
		</section>
		<toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script>
		$(document).ready(function(){
		    $('[data-toggle="tooltip"]').tooltip();
		});
		</script>
	</body>
	</html>
